<?xml version="1.0"?>
<model>
	<name>room</name>
	<version>1.0</version>
	<sdf version = "1.4">model.sdf</sdf>
	
	<author>
		<name>HOANG NGOC BACH</name>
		<email>hoangngocbach@gmail.com</email>
	</author>
	
	<description>
		This is room for agv simulation designed by HNB robot
	</description>
</model>