<?xml version = "1.0"?>
<model>
	<name> AGV </name>
	<version>1.0</version>
	<sdf version = "1.4">model.sdf</sdf>
	
	<author>
		<name>Hoang, Ngoc-Bach</name>
		<email> nbhoang@t-robotics.co.kr </email>
	</author>
	
	<description>
		This agv model is made for simulation purpose.
		After fully designing the AGV, this file should be updated.
		Current verision is differential type
	</description>
</model>
	